body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fc0ad3;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #14060f;
    color: #fff;
}

footer {
    background-color: #f707a7;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
